* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  height: 700px;
  font-family: cursive;
  margin: 0 auto;
}

nav {
  color: white;
  width: 100%;
  height: 50px;
  border: 1px solid black;
  background-color: black;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 110px;
}

.nav-title {
  font-weight: 200;
}

.nav-links {
  width: 400px;
  font-weight: 300;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}

#active {
  color: white;
  font-weight: 500;
}

.a-links {
  color: rgba(255, 255, 255, 0.699);
  background-color: transparent;
  text-decoration: none;
}

.btn {
  color: white;
  font-family: cursive;
  background-color: rgba(27, 212, 203, 0.842);
  width: 75px;
  height: 25px;
  box-shadow: 2px 2px black;
  text-align: center;
  align-self: flex-end;
  margin-right: 170px;
}

main {
  width: 750px;
  height: 600px;
  margin: 20px auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.first-block {
  width: 403px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.profile-block {
  font-family: cursive;
  color: black;
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(175, 173, 173);
  padding-bottom: 10px;
}

.profile-nav {
  width: 397px;
  height: 80px;
  background-color: #17a2b8;
  margin-bottom: 30px;
}

.image1 {
  width: 80px;
  height: 80px;
  position: relative;
  top: 35px;
  left: 25px;
  border: 3px solid white;
  border-radius: 100%;
  box-shadow: 1px 2px 2px gray;
}

.name {
  font-size: 30px;
  font-weight: 520;
  margin-left: 20px;
  margin-bottom: 5px;
}

.image2 {
  height: 15px;
  margin-right: 10px;
}

.location {
  margin-left: 25px;
}

.image3 {
  height: 25px;
  padding-top: 8px;
  margin-top: 5px;
  margin-right: 10px;
}

.info {
  margin-top: 10px;
  margin-left: 25px;
  margin-bottom: 5px;
}

.eduaction-block {
  width: 403px;
  height: 200px;
  border: 3px solid rgb(175, 173, 173);
  margin-top: 30px;
}

.education-nav {
  width: 397px;
  height: 40px;
  color: white;
  background-color: rgb(78, 76, 76);
  padding: 8px 0px 0px 20px;
}

.code-name {
  font-size: 20px;
  font-weight: 500;
  padding: 8px 0px 0px 20px;
}

.date {
  color: gray;
  padding: 8px 0px 0px 20px;
}

.belts {
  padding: 8px 0px 0px 20px;
}

.second-block {
  width: 250px;
  height: 550px;
  margin-right: 60px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.request-block {
  width: 100%;
  height: 200px;
  border: 3px solid rgb(175, 173, 173);
  margin-bottom: 30px;
}

.request-nav {
  width: 100%;
  height: 45px;
  color: white;
  background-color: rgb(78, 76, 76);
  display: flex;
  padding: 5px;
}

.request-number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: black;
  font-size: 18px;
  background-color: rgb(201, 194, 194);
  text-align: center;
  margin-right: 10px;
}

.name1 {
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.request-name {
  margin: 15px 20px 0px 5px;
}

.format {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  top: 10px;
  left: 5px;
}

.name2 {
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.connection-block {
  width: 240px;
  height: 280px;
  border: 3px solid rgb(175, 173, 173);
}

.connection-nav {
  width: 100%;
  height: 45px;
  color: white;
  background-color: rgb(78, 76, 76);
  display: flex;
  padding: 5px;
  align-items: center;
}

.connection-number {
  width: 60px;
  height: 30px;
  border-radius: 50%;
  color: black;
  font-size: 18px;
  background-color: rgb(201, 194, 194);
  text-align: center;
  margin-right: 10px;
}

.table {
  width: 100%;
  list-style: none;
}

.connection-name {
  margin-left: 15px;
}

.view {
  margin-top: 15px;
  padding-left: 10px;
  border-top: 3px solid rgb(175, 173, 173);
}

.box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
